.edad {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.edad img{
  width: 20rem;
  padding-right: 2rem;
}
.formulario {
    display: block;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  form label{
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  form input {
    font-size: 1.5rem;
  }
  
  form button{
    border: none;
    border-radius: 2px;
    background-color: #FF4947;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .resultado{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
  }
  
  
  
  
  
  
  @media screen and (max-width: 800px){
  
   .edad{
    flex-direction: column;
   }
  
   .edad img{
    padding: 0;
    padding-bottom: 1rem;
    width: 10rem;
   }
  
   form{
    gap: 0.5rem;
  }
  form label{
    font-size: 1rem;
  }
  
  form input {
    font-size: 1.2rem;
  }
  
  form button{
    font-size: 1rem;
  }
  }