footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: #B1A2DA;
    padding: 5rem;
}

.logo-footer{
    margin-bottom: 2rem;
}
.logo-footer img{
    width: 15rem;
}

.logo-footer h2{
    font-size: 2rem;
    font-weight: 600;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.social img{
    width: 35px;
}

.developer{
    margin-top: 3rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.name{
    font-weight: 700;
    font-style: italic;
}


@media screen and (max-width: 600px){
    footer{
        height: 80vh;
    }

    .logo-footer img{
        width: 8rem;
    }

    .logo-footer h2{
        font-size: 1.7rem;
    }

    .social img{
        width: 40px;
    }
}