@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
body{
  background-color: #F5ECD7;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
} 

.navbar{
  background-color: #68a67d;
  font-size: 1.2rem;
}
.navbar-brand{
  color: #353535;
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 1rem;
}
.navbar-brand:hover{
  color: #F5ECD7;
  transition: 0.5s ease-in-out;
}
.nav-link{
  font-size: 1rem;
  color: #F7F7F7;
}
.top{
  position: relative;
  display: inline-block;
}
.cover{
  margin-top: 3rem;
  height: auto;
  width: 100%;
  background-size: cover;
}
.over-cover{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #353535;
  width: 100%;
  bottom: 0;
  height: 6vh;
}
.over-cover h3{
  color: #8FBF9F;
  font-style: italic;
  font-weight: 900;
}

.age{
  font-size: 1.5rem;
  height: 100vh;
  margin-top: 10rem;
}
.age form{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
}
.age p{
  margin-top: 3rem;
}

.button{
  margin-top: 1rem;
  font-size: 1.1rem;
  border: 0;
  border-radius: 15px;
  padding: 0.2rem;
  color: #353535;
  width: 9rem;
  background: #8FBF9F;
}
.button:hover{
  color: #833500;
  background-color:#F18F01;
}

.porciento{
  height: 100vh;
}
.inputs{
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 0.5rem;
}

.porciento label{
  color: #353535;
  font-size: 1.5rem;
}
.porciento input{
  border-radius: 15px;
  border: none;
  text-align:center
}
.resultado{
  color: #833500;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer{
  color: #F5ECD7;
  height: 20vh;
  background-color: #833500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.social{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5rem;
}

.social a:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.name{
  font-weight: 600;
  color: #F18F01;
}

/*Diseño adaptable a dispositivos moviles*/

 @media (max-width:960px){

  .footer{
    height: 50vh;
    grid-template-columns: 1fr;
    margin-top: 5rem;
  }
 }
